input, textarea{
    margin: 10px;
    border-radius: 10px;
}

form{
    border: 2px solid black;
    width: 30%;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 0 auto; 
}

label{
    margin: 1%;
}

fieldset{
    border: 0px;
}